.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: hsl(240, 3%, 7%);
  margin: 0;
  padding: 1rem;

  font-size: clamp(0.5rem, 2.5vmin , 1.5rem);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

